Repository cosmonic/kubernetes-applier: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/actor.yml, .ci/interface.yml

.ci/actor.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build_and_check
    jobs:
    - job: build_and_check
      steps:
      - template: steps/install-wash-ubuntu.yml@public-templates
      - template: steps/rust-setup.yml@public-templates
        parameters:
          components:
          - clippy
          - rustfmt
  ...

.ci/interface.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: build_and_check
    jobs:
    - job: build_and_check
      steps:
      - template: steps/install-wash-ubuntu.yml@public-templates
      - template: steps/rust-setup.yml@public-templates
        parameters:
          components:
          - clippy
          - rustfmt
  ...

feat(ci): Ensures provider builds on all OS types
  .ci/provider.yml
  applier/Cargo.toml
Due: none

feat(ci): Ensures provider builds on all OS types (#7)
  .ci/provider.yml
  applier/Cargo.toml
Due: none

ref(*): Uses new common rust caching template
  .ci/actor.yml
  .ci/interface.yml
  .ci/provider.yml
Due: .ci/actor.yml, .ci/interface.yml

Add authors to Cargo.toml
  applier/Cargo.toml
Due: none

Fix all authors in Cargo.toml
  .ci/actor.yml
  applier/Cargo.toml
  interface/rust/Cargo.toml
  service-applier/Cargo.toml
Due: .ci/actor.yml, .ci/interface.yml

fix(*): Incorrect template name in actor
  .ci/actor.yml
Due: .ci/actor.yml

ref(*): Uses new common rust caching template (#8)
  .ci/actor.yml
  .ci/interface.yml
  .ci/provider.yml
  applier/Cargo.toml
  interface/rust/Cargo.toml
  service-applier/Cargo.toml
Due: .ci/actor.yml, .ci/interface.yml

chore(*): Updates all code to the latest dependency versions
  applier/Cargo.lock
  applier/Cargo.toml
  applier/src/main.rs
  applier/tests/applier_test.rs
  interface/rust/Cargo.toml
  interface/rust/src/kubernetes_applier.rs
  service-applier/Cargo.lock
  service-applier/Cargo.toml
  service-applier/README.md
Due: .ci/actor.yml, .ci/interface.yml

Fixes small build errors
  .ci/actor.yml
  .ci/interface.yml
  interface/rust/src/lib.rs
Due: .ci/actor.yml, .ci/interface.yml

chore(*): Updates all code to the latest dependency versions (#9)
  .ci/actor.yml
  .ci/interface.yml
  applier/Cargo.lock
  applier/Cargo.toml
  applier/src/main.rs
  applier/tests/applier_test.rs
  interface/rust/Cargo.toml
  interface/rust/src/kubernetes_applier.rs
  interface/rust/src/lib.rs
  service-applier/Cargo.lock
  service-applier/Cargo.toml
  service-applier/README.md
Due: .ci/actor.yml, .ci/interface.yml

Bumps service applier version
  service-applier/Cargo.lock
  service-applier/Cargo.toml
Due: .ci/actor.yml

Fixes various build issues
  .ci/actor.yml
  .ci/interface.yml
  .ci/provider.yml
  applier/Cargo.toml
Due: .ci/actor.yml, .ci/interface.yml

Updates lock file for applier
  applier/Cargo.lock
Due: none

Bumps interface and actor to latest versions of wasmbus-rpc
  interface/rust/Cargo.toml
  interface/rust/src/kubernetes_applier.rs
  service-applier/Cargo.lock
  service-applier/Cargo.toml
Due: .ci/actor.yml, .ci/interface.yml

Bumps interface and actor to latest versions of wasmbus-rpc (#10)
  interface/rust/Cargo.toml
  interface/rust/src/kubernetes_applier.rs
  service-applier/Cargo.lock
  service-applier/Cargo.toml
Due: .ci/actor.yml, .ci/interface.yml

Updates provider to latest versions of everything
  .ci/provider.yml
  applier/Cargo.lock
  applier/Cargo.toml
  applier/src/main.rs
  applier/tests/applier_test.rs
  service-applier/README.md
Due: .ci/actor.yml

Updates provider to latest versions of everything (#11)
  .ci/provider.yml
  applier/Cargo.lock
  applier/Cargo.toml
  applier/src/main.rs
  applier/tests/applier_test.rs
  service-applier/README.md
Due: .ci/actor.yml

Fixes cross build
  applier/provider.mk
Due: none

updated push user/password to descriptive name
  .ci/actor.yml
  .ci/provider.yml
Due: .ci/actor.yml

Update README to denote Kubernetes Applier is deprecated in favor of wasmCloud Operator
  README.md
Due: none

Path conditions:
  .ci/actor.yml: any of: service-applier, .ci/actor.yml
  .ci/interface.yml: any of: interface, .ci/interface.yml
